body{
    background-color: rgb(180, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: white;
}

header{
    display: flex;
    justify-content: center;
}

h1{
    text-decoration: underline;
}

input{
    transition-duration: 0.5s;
    border: none;
    padding: 10px;
    font-size: 110%;
    border-radius: 4px;
    background-color: rgb(130, 10, 10);
    color: white;
}

input:hover{
    transition-duration: 0.5s;
    border: none;
    margin: 10px;
    font-size: 110%;
    border-radius: 4px;
    background-color: white;
    color: rgb(130, 10, 10);
}

#difficulty{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#backButton2{
    display: none;
}

#game, #game h2, #lifes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lifes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    bottom: 200px;
    right: 20px;
}
#lifes h6{
    margin-right: 5px;
}

#outcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 115px;
}
#outcomeText{
    margin-right: 5px;
}
#output{
    margin-left: 5px;
}

#inputArea{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 115px;
}
#inputArea input:hover{
    margin: 0 10px;
}
#input{
    margin-right: 5px;
    margin-left: 5px;
}
#submit{
    margin-left: 5px;
}
#backButton2{
    margin-right: 5px;
}
#submit:active{
    background-color: rgb(130, 10, 10);
    color: white;
}

#dead h1 p, #dead h6{
    display: flex;
    flex-direction: column;
    align-items: center;
}